//Couleur

$primary-color: #901C1C;
$primary-color-font:#FFFFFF;

$secondary-color:#FFFFFF;
$secondary-color-font:#D3573C;

$tertiaire-color:#DB8876;
$tertiaire-color-font:#000000;

$quartiere-color:#FAFAFA;
$quartiere-color-font:#525252;

$cinqtiere-color:#FFFFFF;
$cinqtiere-color-font:#901C1C;

