@import 'style.scss';



body {


    .logo {
        height: 50px;
        margin-left: 100px;
    }

    .photographerSection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        margin: 100px 0px;

        article {

            justify-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;

            img {
                height: 200px;
                width: 200px;
                border-radius: 100%;
                transition: transform 0.3s ease;
                object-fit: cover;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

            }

            h2 {
                white-space: nowrap;
                color: $secondary-color-font;
                text-align: center;
                font-size: 36px;
                margin: 20px 0px 0px 0px;

            }

            h3 {
                text-align: center;
                font-size: 13px;
                color: $primary-color;
                margin: 0;
            }

            h4 {
                text-align: center;
                font-size: 10px;
                margin: 0;
            }

            h5 {
                text-align: center;
                font-size: 9px;
                color: $quartiere-color-font;
                margin: 0;
            }

        }

        article:hover {


            img {
                transform: scale(1.25);
            }

        }
    }

    .focusPhotographe {
        position: fixed;
        display: flex;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: White;
        border-radius: 10px;
        opacity: 0;
        pointer-events: none;
        background: transparent;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                border-radius: 100%;
                height: 400px;
                width: 400px;
                object-fit: cover;
                animation: scale 1.5s ease-in-out;
                box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
                object-fit: cover;

            }

            .conteneurTextPhotographe {
                background-color: white;
                border-radius: 15px;
                padding: 20px;
                margin: 20px;
                animation: slide-in 2s forwards;
                box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);

                h2 {
                    white-space: nowrap;
                    color: $secondary-color-font;
                    text-align: center;
                    font-size: 72px;
                    margin: 0px 0px 0px 0px;
                }

                h3 {
                    text-align: center;
                    font-size: 26px;
                    color: $primary-color;
                    margin: 0;
                }

                h4 {
                    text-align: center;
                    font-size: 20px;
                    margin: 0;
                }

                h5 {
                    text-align: center;
                    font-size: 18px;
                    color: $quartiere-color-font;
                    margin: 0;
                }
            }

        }




    }


}

@keyframes scale {
    from {
        width: 200px;
        height: 200px;
    }

    to {
        width: 400px;
        height: 400px;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(80%);
        /* Déplacer depuis la droite (en dehors de la vue) */
    }

    to {
        transform: translateY(0);
        /* Déplacer jusqu'à sa position finale (visible) */
    }
}